{# templates/security/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>
    {{ form_start(form) }}
    {% if form.vars.errors.count > 0 %}
        <div class="alert alert-danger">
            {% for error in form.vars.errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}
    <button class="btn btn-primary">Change password</button>
    {{ form_end(form) }}
{% endblock %}