{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a href="{{ path('user_edit_role', {'id': user.id}) }}" class="btn btn-secondary">Edit Role</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">Create new User</a>
{% endblock %}