{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations List and Status</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Reservation Status</th>
            <th>Reserved from account</th>
            <th>Email</th>
            <th>Reservation Form</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.reservationStatus }}</td>
                <td>{{ task.reservedBy ? task.reservedBy.username : 'None' }}</td>
                <td>{{ task.reservedByEmail ? task.reservedByEmail : 'None' }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('admin_task_details', {'id': task.id}) }}">Reservation Details</a>
                </td>
                <td>
                    <form method="post" action="{{ path('admin_task_approve', {'id': task.id}) }}">
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form method="post" action="{{ path('admin_task_reject', {'id': task.id}) }}">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                    <form method="post" action="{{ path('admin_task_lend', {'id': task.id}) }}">
                        <button type="submit" class="btn btn-primary">Lend</button>
                    </form>
                    <form method="post" action="{{ path('admin_task_return', {'id': task.id}) }}">
                        <button type="submit" class="btn btn-secondary">Return</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}